In [67]:
import os
import pandas as pd

In [68]:
path = os.getcwd()
FILE_NAME = "state_policy_updates_20201202_0721"

In [69]:
mandates = pd.read_csv(f'{path}\\{FILE_NAME}.csv', index_col=False)
mandates

,state_id,county,fips_code,policy_level,date,policy_type,start_stop,comments,source,total_phases
0,HI,NaN,NaN,state,2020-05-18,Manufacturing,start,"Policy_Details: Open with adjusted ""Safe Pract...",sip_submission_form: https://governor.hawaii.g...,NaN
1,TX,Kinney,48271.0,county,2020-07-03,Mask Requirement,start,Policy_Details: County is approved to be exemp...,sip_submission_form: https://tdem.texas.gov/ga...,NaN
2,ID,Custer,16037.0,county,2020-10-27,Phase 3,start,Policy_Details: No greater than 50 people at i...,sip_submission_form: https://coronavirus.idaho...,4.0
3,UT,Wayne,49055.0,county,2020-11-24,Phase 1,start,Policy_Details: Restrictions for highest level...,sip_submission_form: https://coronavirus.utah....,3.0
4,TX,Borden,48033.0,county,2020-07-03,Mask Requirement,start,Policy_Details: County is approved to be exemp...,sip_submission_form: https://tdem.texas.gov/ga...,NaN
...,...,...,...,...,...,...,...,...,...,...
3712,AL,NaN,NaN,state,2020-11-08,Houses of Worship,stop,Policy_Details: On 9/30 amended Safer at Home ...,sip_submission_form: https://governor.alabama....,NaN
3713,OR,NaN,NaN,state,2020-12-02,Outdoor and Recreation,stop,Policy_Details: Outdoor and recreation facilit...,sip_submission_form: https://www.oregon.gov/go...,NaN
3714,TX,Travis County,48453.0,county,2020-05-08,Shelter in Place,stop,Travis County Policy End,wikidata,NaN
3715,TX,Liberty County,48291.0,county,2020-04-30,Shelter in Place,stop,Liberty County Policy End,wikidata,NaN
3716,MO,Johnson County,29101.0,county,2020-04-30,Shelter in Place,stop,Johnson County Policy End,wikidata,NaN

In [70]:
policy_mandates = ["Shelter in Place", "Food and Drink", "Non-Essential Businesses", "Outdoor and Recreation", "Mandate Face Mask Use By All Individuals In Public Facing Businesses", "Mask Requirement", "Mandate Face Mask Use By All Individuals In Public Spaces"]

In [71]:
mandates_columns = mandates[["state_id", "policy_level","date","policy_type","start_stop"]]

In [72]:
mandates_rows = mandates_columns[(mandates_columns["start_stop"] == "start") & (mandates_columns["policy_level"] == "state") & (mandates_columns["policy_type"].isin(policy_mandates))]
mandates_rows

,state_id,policy_level,date,policy_type,start_stop
24,AL,state,2020-09-30,Non-Essential Businesses,start
25,DC,state,2020-04-17,Mandate Face Mask Use By All Individuals In Pu...,start
29,MO,state,2020-05-04,Outdoor and Recreation,start
41,IN,state,2020-03-23,Non-Essential Businesses,start
48,NJ,state,2020-04-08,Mandate Face Mask Use By All Individuals In Pu...,start
...,...,...,...,...,...
3577,NC,state,2020-03-30,Shelter in Place,start
3591,MS,state,2020-04-01,Non-Essential Businesses,start
3593,AK,state,2020-05-08,Food and Drink,start
3602,NH,state,2020-05-01,Mandate Face Mask Use By All Individuals In Pu...,start
3608,NJ,state,2020-06-15,Food and Drink,start

In [73]:
# merge with state population 
population = pd.read_csv(f'{path}\\state_population.csv', index_col=False)
states = pd.read_csv(f'{path}\\states.csv', index_col=False)
state_population = pd.merge(population, states)
state_population.drop(["state"], axis = 1)

    population state_id
0     39776830       CA
1     28704330       TX
2     21312211       FL
3     19862512       NY
4     12823989       PA
5     12768320       IL
6     11694664       OH
7     10545138       GA
8     10390149       NC
9      9991177       MI
10     9032872       NJ
11     8525660       VA
12     7530552       WA
13     7123898       AZ
14     6895917       MA
15     6782564       TN
16     6699629       IN
17     6135888       MO
18     6079602       MD
19     5818049       WI
20     5684203       CO
21     5628162       MN
22     5088916       SC
23     4888949       AL
24     4682509       LA
25     4472265       KY
26     4199563       OR
27     3940521       OK
28     3588683       CT
29     3160553       IA
30     3159345       UT
31     3056824       NV
32     3020327       AR
33     2982785       MS
34     2918515       KS
35     2090708       NM
36     1932549       NE
37     1803077       WV
38     1753860       ID
39     1426393       HI
40     1350575       NH
41     1341582       ME
42     1062330       MT
43     1061712       RI
44      971180       DE
45      877790       SD
46      755238       ND
47      738068       AK
48      703608       DC
49      623960       VT
50      573720       WY

In [84]:
mandates_all = pd.merge(mandates_rows, state_population)
mandates_all.drop(["policy_level"], axis=1)
mandates_all.loc[df["policy_type"].str.contains("Mask"), "policy_type"] = "Mask Wearing"

,state_id,date,policy_type,start_stop,state,population
0,AL,2020-09-30,Non-Essential Businesses,start,Alabama,4888949
1,AL,2020-07-16,Mandate Face Mask Use By All Individuals In Pu...,start,Alabama,4888949
2,AL,2020-04-04,Shelter in Place,start,Alabama,4888949
3,AL,2020-05-11,Outdoor and Recreation,start,Alabama,4888949
4,AL,2020-07-16,Mask Requirement,start,Alabama,4888949
...,...,...,...,...,...,...
308,NH,2020-08-11,Mask Requirement,start,New Hampshire,1350575
309,NH,2020-05-11,Non-Essential Businesses,start,New Hampshire,1350575
310,NH,2020-05-04,Outdoor and Recreation,start,New Hampshire,1350575
311,NH,2020-05-18,Food and Drink,start,New Hampshire,1350575
312,NH,2020-05-01,Mandate Face Mask Use By All Individuals In Pu...,start,New Hampshire,1350575

In [85]:
mandates_all.to_csv("mandates_all.csv", index = False)